pyodbc==4.0.30
Django<2.2,>=2.1.0
django-cors-headers
django-mssql==1.8
dedupe==2.0.6
dedupe-hcluster==0.3.8
dedupe-variable-datetime==0.1.5
azure-common==1.1.26
azure-core==1.10.0
azure-identity==1.5.0
azure-keyvault-secrets==4.2.0
fastcache==1.1.0
fastcluster==1.1.26
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Cors==3.0.10
numpy==1.18.5
pandas
Unidecode==1.1.1
mysqlclient
django-pyodbc-azure
